*.sh    text eol=lf
*.bat   text eol=crlf

pk_generated_parent.pom                         linguist-generated=true
dependencies.md                                 linguist-generated=true
doc/changes/changelog.md                        linguist-generated=true
.github/workflows/broken_links_checker.yml      linguist-generated=true
.github/workflows/ci-build-next-java.yml        linguist-generated=true
.github/workflows/ci-build.yml                  linguist-generated=true
.github/workflows/dependencies_check.yml        linguist-generated=true
.github/workflows/dependencies_update.yml       linguist-generated=true
.github/workflows/release.yml                   linguist-generated=true
